Package: org.golde.cydia.Scripts.f4fbot
Name: Follow4Follow Bot 6
Author: Eric Golde
Version: 1.0
Architecture: iphoneos-arm
Description: This is a bot that follows and likes photos (used for coin generating on alt accounts). Iphone 6 ONLY!
Homepage: http://eric.golde.org/cydia
Maintainer: Eric Golde
Section: ECR_Scripts
Depends: me.autotouch.autotouch.ios8
